html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: $colour_black;
}

body {
    margin: 0;
    font-size: em($em-base);
}

img {
    border: 0;
    vertical-align: middle;
}

.container {
    @include outer-container;
}